[submodule "wolf3d/libft"]
	path = wolf3d/libft
	url = git@github.com:Its-Alex/Libft.git
[submodule "libft"]
	path = libft
	url = git@github.com:Its-Alex/Libft.git
[submodule "wolf3d/minilibx"]
	path = wolf3d/minilibx
	url = git@github.com:World42/minilibx_macos.git
